
/data/

data_request/

data_manage/

\.idea/ThesisPipeline\.iml

\.idea/workspace\.xml

src/common/__pycache__/Method\.cpython-36\.pyc

src/common/__pycache__/SaveLoadPOPO\.cpython-36\.pyc

src/data/__pycache__/process_corpus\.cpython-36\.pyc

src/model/__pycache__/decisiontree\.cpython-36\.pyc

src/model/__pycache__/randomforest\.cpython-36\.pyc

src/model/__pycache__/svm\.cpython-36\.pyc

src/pipelines/__pycache__/KFoldHyperParameter\.cpython-36\.pyc
