
/data/

data_request/

data_manage/
.idea/ThesisPipeline.iml
.idea/misc.xml
.idea/workspace.xml
src/common/__pycache__/Method.cpython-36.pyc
src/common/__pycache__/SaveLoadPOPO.cpython-36.pyc
src/rep/__pycache__/awv.cpython-36.pyc
src/rep/__pycache__/pca.cpython-36.pyc
src/rep/__pycache__/ppmi.cpython-36.pyc
src/util/__pycache__/check.cpython-36.pyc
src/util/__pycache__/io.cpython-36.pyc
src/util/__pycache__/py.cpython-36.pyc
src/data/__pycache__/
src/model/__pycache__/
src/score/__pycache__/
src/rep/__pycache__/
src/util/__pycache__/
src/pipelines/__pycache__/
.idea/
papers/
src/project/__pycache__/
src/tests/.pytest_cache/v/cache/lastfailed
src/common/
tex/tables/~$All best score types contextualized.xlsx
tex/tables/~$comparing space types.xlsx
tex/tables/~$rep results (Autosaved).xlsx
data_paper/

/data_paper/
/data_paper/experimental results/
data_paper.7z
